@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", system-ui;
}

nav ul {
	list-style-type: none;
	display: flex;
	/* justify-content: left; */
	background-color: black;
    color: white;
}

li{
    display: flex;
    align-items: center;
    margin-left: 2%;
}

nav ul li a {
	color: white;
	text-decoration: none;
	padding: 10px;
}
a {
    display: flex;             /* Define como flex container */
    justify-content: center;    /* Centraliza horizontalmente */
    align-items: center;        /* Centraliza verticalmente */
    height: 100%;               /* Preenche a altura disponível */
    text-align: center;         /* Centraliza o texto horizontalmente no caso de múltiplas linhas */
}

nav ul li a:hover {
	background-color: #555;
}
.nav_perfil{
    margin-left: auto;
    display: flex;
}

