nav ul {
	list-style-type: none;
	display: flex;
	/* justify-content: left; */
	background-color: black;
    color: white;
}

li{
    display: flex;
    align-items: center;
    margin-left: 2%;
}

nav ul li a {
	color: white;
	text-decoration: none;
	padding: 10px;
}
a {
    display: flex;             /* Define como flex container */
    justify-content: center;    /* Centraliza horizontalmente */
    align-items: center;        /* Centraliza verticalmente */
    height: 100%;               /* Preenche a altura disponível */
    text-align: center;         /* Centraliza o texto horizontalmente no caso de múltiplas linhas */
}

nav ul li a:hover {
	background-color: #555;
}
.nav_perfil{
    margin-left: auto;
    display: flex;
}